In [1]:
import pandas as pd

In [3]:
csv = "Resources/202301-citibike-tripdata.csv"
citi_bike_df = pd.read_csv(csv)
citi_bike_df

C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\2762137292.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_df = pd.read_csv(csv)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855196,E4317A223A047233,classic_bike,2023-01-02 17:29:12,2023-01-02 18:14:59,Cedar St & Myrtle Ave,4751.01,W 21 St & 6 Ave,6140.05,40.697740,-73.926391,40.741740,-73.994156,member
1855197,ABE3E9D3F081A13E,classic_bike,2023-01-03 17:47:28,2023-01-03 17:52:21,E 115 St & Madison Ave,7599.02,Park Ave & E 124 St,7682.01,40.798944,-73.944846,40.804555,-73.939686,member
1855198,8F1B225FFE447DD6,classic_bike,2023-01-12 20:18:52,2023-01-12 20:21:31,E 14 St & 1 Ave,5779.1,E 12 St & Ave C,5616.08,40.731402,-73.982845,40.727243,-73.976831,member
1855199,A631B3D94A1BBE4F,classic_bike,2023-01-13 00:16:36,2023-01-13 00:26:56,Sullivan Pl & Bedford Ave,3736.04,Kosciuszko St & Nostrand Ave,4519.04,40.664281,-73.957594,40.690725,-73.951335,member
1855200,719C2F8C8D500BA2,electric_bike,2023-01-15 15:57:48,2023-01-15 16:05:26,W Broadway & Spring St,5569.06,W 21 St & 6 Ave,6140.05,40.724947,-74.001659,40.741740,-73.994156,member

In [6]:
citi_bike_jan = pd.read_csv('Resources/202201-citibike-tripdata.csv')
citi_bike_feb = pd.read_csv('Resources/202202-citibike-tripdata.csv')
citi_bike_mar = pd.read_csv('Resources/202203-citibike-tripdata.csv')
citi_bike_apr = pd.read_csv('Resources/202204-citibike-tripdata.csv')
citi_bike_may = pd.read_csv('Resources/202205-citibike-tripdata.csv')
citi_bike_jun = pd.read_csv('Resources/202206-citibike-tripdata.csv')
citi_bike_jul = pd.read_csv('Resources/202207-citibike-tripdata.csv')
citi_bike_aug = pd.read_csv('Resources/202208-citibike-tripdata.csv')
citi_bike_sep = pd.read_csv('Resources/202209-citibike-tripdata.csv')
citi_bike_oct = pd.read_csv('Resources/202210-citibike-tripdata.csv')
citi_bike_nov = pd.read_csv('Resources/202211-citibike-tripdata.csv')
citi_bike_dec = pd.read_csv('Resources/202212-citibike-tripdata.csv')

C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_jan = pd.read_csv('Resources/202201-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_feb = pd.read_csv('Resources/202202-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_mar = pd.read_csv('Resources/202203-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_apr = pd.read_csv('Resources/202204-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_may = pd.read_csv('Resources/202205-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_jun = pd.read_csv('Resources/202206-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_jul = pd.read_csv('Resources/202207-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:8: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_aug = pd.read_csv('Resources/202208-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:9: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_sep = pd.read_csv('Resources/202209-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_oct = pd.read_csv('Resources/202210-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:11: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_nov = pd.read_csv('Resources/202211-citibike-tripdata.csv')
C:\Users\yaber\AppData\Local\Temp\ipykernel_12364\3629666873.py:12: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_dec = pd.read_csv('Resources/202212-citibike-tripdata.csv')

In [7]:
citi_bike_2022 = [citi_bike_jan, citi_bike_feb, citi_bike_mar, citi_bike_apr, citi_bike_may, citi_bike_jun,
                  citi_bike_jul, citi_bike_aug, citi_bike_sep, citi_bike_oct, citi_bike_nov, citi_bike_dec]

In [9]:
citi_bike_2022_merged = pd.concat(citi_bike_2022, axis=0)

citi_bike_2022_merged

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649647,CB2EE50F60A58C7B,classic_bike,2022-12-12 08:38:46,2022-12-12 08:46:12,E 41 St & Madison Ave (SW corner),6474.12,6 Ave & W 33 St,6364.07,40.752165,-73.979922,40.749013,-73.988484,member
1649648,3C0DF3280FEB1350,classic_bike,2022-12-12 13:06:32,2022-12-12 13:19:58,Peck Slip & South St,5096.12,Vesey St & Church St,5216.06,40.707689,-74.001254,40.712220,-74.010472,member
1649649,B916E63B630D5020,classic_bike,2022-12-18 01:15:22,2022-12-18 01:48:15,E 41 St & Madison Ave (SW corner),6474.12,Lenox Ave & W 111 St,7602.05,40.752399,-73.980150,40.798786,-73.952300,member
1649650,21EAC007BE7D4161,classic_bike,2022-12-08 23:09:54,2022-12-08 23:26:37,W 37 St & 10 Ave,6611.02,W 70 St & Amsterdam Ave,7207.08,40.756604,-73.997901,40.777480,-73.982886,member
1649651,538408C4A16F4415,electric_bike,2022-12-21 07:26:14,2022-12-21 07:31:40,W 37 St & 10 Ave,6611.02,6 Ave & W 33 St,6364.07,40.756604,-73.997901,40.749013,-73.988484,member

In [10]:
len(citi_bike_2022_merged.index)

30689921

In [11]:

# citi_bike_2022_merged.to_csv('citi_bike_data_2022.csv', index=False)

In [12]:
citi_bike_2022Q4 = [citi_bike_oct, citi_bike_nov, citi_bike_dec]

In [13]:
citi_bike_2022Q4_merged = pd.concat(citi_bike_2022Q4, axis=0)

citi_bike_2022Q4_merged

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2CF35A89B21C6E3C,classic_bike,2022-10-24 14:30:25,2022-10-24 14:37:35,St. Nicholas Ave & W 126 St,7756.10,Amsterdam Ave & W 136 St,7920.05,40.811388,-73.951995,40.819746,-73.951819,member
1,291CC2C6D361C2DA,classic_bike,2022-10-30 03:53:38,2022-10-30 03:57:57,Stuyvesant Ave & Gates Ave,4458.06,Halsey St & Tompkins Ave,4319.07,40.688445,-73.933195,40.682369,-73.944118,member
2,80192DC8429B07EE,classic_bike,2022-10-08 15:03:06,2022-10-08 15:17:13,Broadway & Berry St,5164.05,Meserole Ave & Manhattan Ave,5666.04,40.710361,-73.965304,40.727086,-73.952991,member
3,D214E550C317C65E,classic_bike,2022-10-18 08:32:04,2022-10-18 08:36:41,W 84 St & Columbus Ave,7382.04,W 76 St & Columbus Ave,7281.09,40.785000,-73.972834,40.780184,-73.977285,member
4,2D23E8BAE75AA184,classic_bike,2022-10-26 08:00:40,2022-10-26 08:10:27,Pike St & Monroe St,5159.04,Broad St & Bridge St,4962.08,40.711731,-73.991930,40.703652,-74.011678,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649647,CB2EE50F60A58C7B,classic_bike,2022-12-12 08:38:46,2022-12-12 08:46:12,E 41 St & Madison Ave (SW corner),6474.12,6 Ave & W 33 St,6364.07,40.752165,-73.979922,40.749013,-73.988484,member
1649648,3C0DF3280FEB1350,classic_bike,2022-12-12 13:06:32,2022-12-12 13:19:58,Peck Slip & South St,5096.12,Vesey St & Church St,5216.06,40.707689,-74.001254,40.712220,-74.010472,member
1649649,B916E63B630D5020,classic_bike,2022-12-18 01:15:22,2022-12-18 01:48:15,E 41 St & Madison Ave (SW corner),6474.12,Lenox Ave & W 111 St,7602.05,40.752399,-73.980150,40.798786,-73.952300,member
1649650,21EAC007BE7D4161,classic_bike,2022-12-08 23:09:54,2022-12-08 23:26:37,W 37 St & 10 Ave,6611.02,W 70 St & Amsterdam Ave,7207.08,40.756604,-73.997901,40.777480,-73.982886,member
1649651,538408C4A16F4415,electric_bike,2022-12-21 07:26:14,2022-12-21 07:31:40,W 37 St & 10 Ave,6611.02,6 Ave & W 33 St,6364.07,40.756604,-73.997901,40.749013,-73.988484,member

In [14]:
# citi_bike_2022Q4_merged.to_csv('citi_bike_2022Q4.csv', index=False)